.teamInfo
  .teamInfo__flex
    display: flex
    align-items: center
    justify-content: center
    width: 100px
    .text
      font-size: 24px

  .teamInfo--logo
    width: 100px
    height: 60px
