.newsList
  padding-top: 88px
  padding-bottom: 30px
  margin: 0 24px
  .news--item
    margin: 20px 0 80px
    transition: box-shadow .25s, -webkit-box-shadow .25s
    border-radius: 2px
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
    .news--poster
      display: block
      width: 100%
      height: 350px
    .news--content
      padding: 19px
      .news--title
        display: block
        font-size: 32px
        font-weight: 600
        color: rgb(43, 43, 43)
      .news--author, .news--view, .news--comment
        flex: 1
        margin-top: 19px
        font-size: 19px
        color: #767676
        // text-align: center
        .news--small
          margin-left: 10px
          padding-top: 10px
      .news--description
        display: block
        margin-top: 24px
        font-size: 24px
        line-height: 44px
